<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>core/.notdef.glif</string>
	<key>space</key>
	<string>core/space.glif</string>
	<key>exclam</key>
	<string>core/exclam.glif</string>
	<key>quotedbl</key>
	<string>core/quotedbl.glif</string>
	<key>numbersign</key>
	<string>core/numbersign.glif</string>
	<key>dollar</key>
	<string>core/dollar.glif</string>
	<key>percent</key>
	<string>core/percent.glif</string>
	<key>ampersand</key>
	<string>core/ampersand.glif</string>
	<key>quotesingle</key>
	<string>core/quotesingle.glif</string>
	<key>comma</key>
	<string>core/comma.glif</string>
	<key>period</key>
	<string>core/period.glif</string>
	<key>colon</key>
	<string>core/colon.glif</string>
	<key>semicolon</key>
	<string>core/semicolon.glif</string>
	<key>question</key>
	<string>core/question.glif</string>
	<key>at</key>
	<string>core/at.glif</string>
	<key>asterisk</key>
	<string>core/asterisk.glif</string>
	<key>grave</key>
	<string>core/grave.glif</string>
	<key>asciicircum</key>
	<string>core/asciicircum.glif</string>
	<key>asciitilde</key>
	<string>core/asciitilde.glif</string>
	<key>A</key>
	<string>upper/A.glif</string>
	<key>B</key>
	<string>upper/B.glif</string>
	<key>C</key>
	<string>upper/C.glif</string>
	<key>D</key>
	<string>upper/D.glif</string>
	<key>E</key>
	<string>upper/E.glif</string>
	<key>F</key>
	<string>upper/F.glif</string>
	<key>G</key>
	<string>upper/G.glif</string>
	<key>H</key>
	<string>upper/H.glif</string>
	<key>I</key>
	<string>upper/I.glif</string>
	<key>J</key>
	<string>upper/J.glif</string>
	<key>K</key>
	<string>upper/K.glif</string>
	<key>L</key>
	<string>upper/L.glif</string>
	<key>M</key>
	<string>upper/M.glif</string>
	<key>N</key>
	<string>upper/N.glif</string>
	<key>l</key>
	<string>lower/l.glif</string>
	<key>one</key>
	<string>core/one.glif</string>
	<key>two</key>
	<string>core/two.glif</string>
	<key>three</key>
	<string>core/three.glif</string>
	<key>four</key>
	<string>core/four.glif</string>
	<key>five</key>
	<string>core/five.glif</string>
	<key>six</key>
	<string>core/six.glif</string>
	<key>seven</key>
	<string>core/seven.glif</string>
	<key>eight</key>
	<string>core/eight.glif</string>
	<key>nine</key>
	<string>core/nine.glif</string>
	<key>zero</key>
	<string>core/zero.glif</string>
	<key>O</key>
	<string>upper/O.glif</string>
	<key>P</key>
	<string>upper/P.glif</string>
	<key>Q</key>
	<string>upper/Q.glif</string>
	<key>R</key>
	<string>upper/R.glif</string>
	<key>S</key>
	<string>upper/S.glif</string>
	<key>T</key>
	<string>upper/T.glif</string>
	<key>U</key>
	<string>upper/U.glif</string>
	<key>V</key>
	<string>upper/V.glif</string>
	<key>W</key>
	<string>upper/W.glif</string>
	<key>X</key>
	<string>upper/X.glif</string>
	<key>Y</key>
	<string>upper/Y.glif</string>
	<key>Z</key>
	<string>upper/Z.glif</string>
	<key>braceleft</key>
	<string>core/braceleft.glif</string>
	<key>braceright</key>
	<string>core/braceright.glif</string>
	<key>bracketleft</key>
	<string>core/bracketleft.glif</string>
	<key>bracketright</key>
	<string>core/bracketright.glif</string>
	<key>parenleft</key>
	<string>core/parenleft.glif</string>
	<key>parenright</key>
	<string>core/parenright.glif</string>
	<key>less</key>
	<string>core/less.glif</string>
	<key>greater</key>
	<string>core/greater.glif</string>
	<key>equal</key>
	<string>core/equal.glif</string>
	<key>hyphen</key>
	<string>core/hyphen.glif</string>
	<key>plus</key>
	<string>core/plus.glif</string>
	<key>a</key>
	<string>lower/a.glif</string>
	<key>c</key>
	<string>lower/c.glif</string>
	<key>d</key>
	<string>lower/d.glif</string>
	<key>e</key>
	<string>lower/e.glif</string>
	<key>f</key>
	<string>lower/f.glif</string>
	<key>g</key>
	<string>lower/g.glif</string>
	<key>h</key>
	<string>lower/h.glif</string>
	<key>n</key>
	<string>lower/n.glif</string>
	<key>j</key>
	<string>lower/j.glif</string>
	<key>k</key>
	<string>lower/k.glif</string>
	<key>m</key>
	<string>lower/m.glif</string>
	<key>b</key>
	<string>lower/b.glif</string>
	<key>p</key>
	<string>lower/p.glif</string>
	<key>q</key>
	<string>lower/q.glif</string>
	<key>r</key>
	<string>lower/r.glif</string>
	<key>s</key>
	<string>lower/s.glif</string>
	<key>t</key>
	<string>lower/t.glif</string>
	<key>u</key>
	<string>lower/u.glif</string>
	<key>v</key>
	<string>lower/v.glif</string>
	<key>w</key>
	<string>lower/w.glif</string>
	<key>x</key>
	<string>lower/x.glif</string>
	<key>y</key>
	<string>lower/y.glif</string>
	<key>z</key>
	<string>lower/z.glif</string>
	<key>o</key>
	<string>lower/o.glif</string>
	<key>i</key>
	<string>lower/i.glif</string>
	<key>slash</key>
	<string>core/slash.glif</string>
	<key>backslash</key>
	<string>core/backslash.glif</string>
	<key>bar</key>
	<string>core/bar.glif</string>
	<key>underscore</key>
	<string>core/underscore.glif</string>
</dict>
</plist>
